<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">



</head>

<body>
    <div class="wrapper" style="height: 100%;">
        <div id="page-loading">
            <img src="img/logo-header.png" alt="logo-header.png" />
        </div>
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-top-inner">
                        <div class="header-logo">
                            <a href="home.html">
                                <img src="./img/logo-header.png" alt="">
                            </a>
                        </div>

                        <div class="header-right">
                            <div class="header-hotline tt-16">
                                <a href="tel:02439590352" class="hotline">
                                    <img src="./img/icon-phone.svg" alt="icon-phone.svg">
                                    <div class="hotline-text tt-16">
                                        <p class="hotline-t t-uppercase f-bold main-cl">
                                            hotline:
                                        </p>
                                        <span class="hotline-number">
                                            024 3959 0352
                                        </span>
                                    </div>
                                </a>

                            </div>

                            <div class="hamburger-btn">
                                <div class="bar"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-wrapper">
                        <div class="header-menu">
                            <div class="header-menu-inner">
                                <div class="header-menu-logo">
                                    <a href="home.html">
                                        <img src="./img/logo-header.png" alt="logo-header.png">
                                    </a>
                                </div>
                                <ul class="header-menu-nav">
                                    <li class="current-menu">
                                        <a href="#">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="#">giới thiệu</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">dịch vụ</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">test sub menu 1</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="#">test sub menu2 </a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Lĩnh vực hoạt động</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Thư viện</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Liên hệ</a>
                                    </li>
                                </ul>
                                <div class="header-menu-socail">
                                    <a href="#" class="menu-socail socail-face">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-youtube">
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-insta">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div class="box-lang lang">
                                    <select class="select-lang">
                                        <option value="1">VN</option>
                                        <option value="2">EN</option>
                                        <option value="3">jp</option>
                                        <option value="3">kr</option>
                                    </select>
                                </div>
                            </div>
                            <div class="overplay"></div>
                        </div>

                    </div>
                </div>
            </div>


        </header>
        <main class="main">
            <div class="banner banner-page" style="background-image: url(./img/bg-banner-page-1.png);">
                <div class="container-full">
                    <div class="banner-wrapper">
                        <h3 class="banner-title f-popins t-uppercase">
                            About us
                        </h3>
                    </div>
                </div>
            </div>

            <section class="box-intro sec-80">
                <div class="container">
                    <div class="intro-wrapper">
                        <div class="columns">
                            <div class="column">
                                <div class="intro-img">
                                    <img src="./img/page-intro-1.png" alt="page-intro-1.png">
                                </div>
                            </div>
                            <div class="column">
                                <div class="intro-inner">
                                    <h3 class="intro-title tt-40">
                                        Tập đoàn Kurita
                                    </h3>
                                    <p class="intro-label main-cl t-uppercase f-bold">
                                        Cùng với khách hàng và xã hội, tìm ra câu trả lời trong nước - thay đổi thế giới
                                        thông qua nước.
                                    </p>
                                    <div class="intro-desc">
                                        <p> Tại Tập đoàn KURITA, sứ mệnh của chúng tôi là giúp cho con người và tự nhiên
                                            cùng tồn tại hài hòa và thịnh vượng bằng việc áp dụng những công nghệ tiên
                                            tiến
                                            nhất mà chúng tôi đã và đang trau dồi trong lĩnh vực xử lý nước.
                                        </p>

                                        <p>Chúng tôi luôn luôn nghiên cứu giải quyết những vấn đề chung của xã hội như
                                            sự
                                            khan hiếm nguồn nước và hiện tượng nóng lên toàn cầu, nỗ lực không ngừng
                                            theo
                                            đuổi những giá trị riêng biệt của Tập đoàn KURITA.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-arc"></div>
                    </div>
                </div>
            </section>

            <div class="vision-mission">
                <div class="container-full">
                    <div class="vimi-wrapper">
                        <div class="columns">
                            <div class="column" style="background-image: url('./img/bg-vi.png');">
                                <div class="vimi-inner">
                                    <div class="vimi-head">
                                        <img src="./img/icon-vision.svg" alt="icon-vision.svg">
                                        <h3 class="vimi-title tt-40">
                                            Tầm nhìn
                                        </h3>
                                    </div>
                                    <p class="vimi-desc">
                                        Tại Tập đoàn Kurita, sứ mệnh của chúng tôi là giúp cho con người và tự nhiên
                                        cùng tồn tại hài hòa và thịnh vượng bằng việc áp dụng những công nghệ tiến tiến
                                        nhất mà chúng tôi đã và đang trau dồi trong lĩnh vực xử lý nước
                                    </p>
                                </div>
                            </div>
                            <div class="column" style=" background-image: url('./img/bg-mi.png');">
                                <div class="vimi-inner">
                                    <div class="vimi-head">
                                        <img src="./img/icon-mission.svg" alt="icon-mission.svg">
                                        <h3 class="vimi-title tt-40">
                                            Sứ mệnh
                                        </h3>
                                    </div>
                                    <p class="vimi-desc">
                                        Tại Tập đoàn Kurita, sứ mệnh của chúng tôi là giúp cho con người và tự nhiên
                                        cùng tồn tại hài hòa và thịnh vượng bằng việc áp dụng những công nghệ tiến tiến
                                        nhất mà chúng tôi đã và đang trau dồi trong lĩnh vực xử lý nước
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="box-intro  intro-new sec-80">
                <div class="container">
                    <div class="intro-wrapper">
                        <div class="columns">
                            <div class="column">
                                <div class="intro-inner">
                                    <h3 class="intro-title tt-40">
                                        Kurita-GK Việt Nam
                                    </h3>
                                    <div class="intro-desc">
                                        <p>
                                            Kurita-GK Việt Nam được thành lập tháng 10 năm 2016. Trực thuộc công ty TNHH
                                            Kurita-GK Chemical - Thái Lan và Tập đoàn Kurita Water Industries - Nhật
                                            Bản. Triết lý của tập đoàn Kurita là:
                                        </p>

                                        <p class="main-cl">
                                            “Nghiên cứu và hiểu rõ các đặc tính của nước, chúng tôi góp phần tạo nền một
                                            môi trường mà ở đó con người và tự nhiên hài hòa với nhau”
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="intro-img">
                                    <img src="./img/page-intro-2.png" alt="page-intro-2.png">
                                </div>
                            </div>
                        </div>
                        <div class="box-arc"></div>
                    </div>
                </div>
            </section>




        </main>
        <footer class="footer">
            <div class="footer-top sec-70">
                <div class="container">
                    <div class="footer-wrapper">
                        <div class="columns">
                            <div class="column ft-first">
                                <div class="ft-inner">
                                    <div class="ft-logo">
                                        <a href="#">
                                            <img src="./img/logo-header.png" alt="logo-header.png">
                                        </a>
                                    </div>
                                    <p class="ft-desc">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in pharetra
                                        orci. Sed cursus elementum finibus. Etiam id erat ante. Cras tempor
                                    </p>
                                    <div class="ft-social">
                                        <div class="social-item">
                                            <a href="#" class="social-link">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        <div class="social-item">
                                            <a href="#" class="social-link">
                                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        <div class="social-item">
                                            <a href="#" class="social-link">
                                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="column ft-if">
                                <div class="ft-inner">
                                    <div class="ft-box">
                                        <h4 class="ft-tt t-uppercase f-bold">
                                            Địa chỉ 1
                                        </h4>
                                        <div class="ft-content">
                                            <div class="ft-b">
                                                <p class="f-bold">
                                                    Trụ sở chính (Head office)
                                                </p>
                                                <a href="#">
                                                    Phòng 305, Tầng 3, Trung tâm Công nghệ, Khu công nghiệp Thăng Long,
                                                    Xã Kim Chung, Huyện Đông Anh, Hà Nội
                                                </a>
                                            </div>
                                            <div class="ft-b ft-hotline">
                                                <p class="f-bold">
                                                    Hotline:
                                                </p>
                                                <a href="tel:02439590352">
                                                    024 3959 0352
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="ft-box">
                                        <h4 class="ft-tt t-uppercase f-bold">
                                            Địa chỉ 1
                                        </h4>
                                        <div class="ft-content">
                                            <div class="ft-b">
                                                <p class="f-bold">
                                                    Trụ sở chính (Head office)
                                                </p>
                                                <p>
                                                    Phòng 305, Tầng 3, Trung tâm Công nghệ, Khu công nghiệp Thăng Long,
                                                    Xã Kim Chung, Huyện Đông Anh, Hà Nội
                                                </p>
                                            </div>
                                            <div class="ft-b ft-hotline">
                                                <p class="f-bold">
                                                    Hotline:
                                                </p>
                                                <a href="tel:02439590352">
                                                    024 3959 0352
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="column ft-last">
                                <div class="ft-inner">
                                    <div class="tab tab-mobi ft-tab">
                                        <div class="tab-tt">
                                            <div class="tab-link-mobi">
                                                <p class="tt-18 f-bold">Danh mục </p>
                                            </div>
                                            <div class="tab-link">
                                                <div class="tab-title active">
                                                    <p>Tiếng việt</p>
                                                </div>
                                                <div class="tab-title">
                                                    <p>Tiếng nhật</p>
                                                </div>
                                                <div class="tab-title">
                                                    <p>tiếng hàn</p>
                                                </div>
                                                <div class="tab-title">
                                                    <p>tiếng trung</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-content">
                                            <div class="tab-content-box active">
                                                <div class="tab-inner">
                                                    <div class="tab-b">
                                                        <p class="tab-name f-bold">
                                                            Mr. Nguyễn Tuấn Kiệt (HN)
                                                        </p>
                                                        <div class="tab-tx">
                                                            <p>Email:</p>
                                                            <a href="mailto:k.nguyentuan47@kurita-water.com"
                                                                class="f-bold">
                                                                k.nguyentuan47@kurita-water.com
                                                            </a>
                                                        </div>

                                                        <div class="tab-tx">
                                                            <p>Phone:</p>
                                                            <a href="tel:0936040266" class="f-bold">
                                                                0936 040 266
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="tab-b">
                                                        <p class="tab-name f-bold">
                                                            Mr. Nguyễn Tuấn Kiệt (HN)
                                                        </p>
                                                        <div class="tab-tx">
                                                            <p>Email:</p>
                                                            <a href="mailto: l.nguyenvan45@kurita-water.com"
                                                                class="f-bold">
                                                                l.nguyenvan45@kurita-water.com
                                                            </a>
                                                        </div>

                                                        <div class="tab-tx">
                                                            <p>Phone:</p>
                                                            <a href="tel:0903228865" class="f-bold">
                                                                0903 228 865
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-content-box">
                                                <div class="tab-inner">
                                                    <div class="tab-b">
                                                        <p class="tab-name f-bold">
                                                            Mr. Nguyễn Tuấn Kiệt (HN)
                                                        </p>
                                                        <div class="tab-tx">
                                                            <p>Email:</p>
                                                            <a href="mailto:k.nguyentuan47@kurita-water.com"
                                                                class="f-bold">
                                                                k.nguyentuan47@kurita-water.com
                                                            </a>
                                                        </div>

                                                        <div class="tab-tx">
                                                            <p>Phone:</p>
                                                            <a href="tel:0936040266" class="f-bold">
                                                                0936 040 266
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="tab-b">
                                                        <p class="tab-name f-bold">
                                                            Mr. Nguyễn Tuấn Kiệt (HN)
                                                        </p>
                                                        <div class="tab-tx">
                                                            <p>Email:</p>
                                                            <a href="mailto: l.nguyenvan45@kurita-water.com"
                                                                class="f-bold">
                                                                l.nguyenvan45@kurita-water.com
                                                            </a>
                                                        </div>

                                                        <div class="tab-tx">
                                                            <p>Phone:</p>
                                                            <a href="tel:0903228865" class="f-bold">
                                                                0903 228 865
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-content-box">
                                                <div class="tab-inner">
                                                    <div class="tab-b">
                                                        <p class="tab-name f-bold">
                                                            Mr. Nguyễn Tuấn Kiệt (HN)
                                                        </p>
                                                        <div class="tab-tx">
                                                            <p>Email:</p>
                                                            <a href="mailto:k.nguyentuan47@kurita-water.com"
                                                                class="f-bold">
                                                                k.nguyentuan47@kurita-water.com
                                                            </a>
                                                        </div>

                                                        <div class="tab-tx">
                                                            <p>Phone:</p>
                                                            <a href="tel:0936040266" class="f-bold">
                                                                0936 040 266
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="tab-b">
                                                        <p class="tab-name f-bold">
                                                            Mr. Nguyễn Tuấn Kiệt (HN)
                                                        </p>
                                                        <div class="tab-tx">
                                                            <p>Email:</p>
                                                            <a href="mailto: l.nguyenvan45@kurita-water.com"
                                                                class="f-bold">
                                                                l.nguyenvan45@kurita-water.com
                                                            </a>
                                                        </div>

                                                        <div class="tab-tx">
                                                            <p>Phone:</p>
                                                            <a href="tel:0903228865" class="f-bold">
                                                                0903 228 865
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-content-box">
                                                <div class="tab-inner">
                                                    <div class="tab-b">
                                                        <p class="tab-name f-bold">
                                                            Mr. Nguyễn Tuấn Kiệt (HN)
                                                        </p>
                                                        <div class="tab-tx">
                                                            <p>Email:</p>
                                                            <a href="mailto:k.nguyentuan47@kurita-water.com"
                                                                class="f-bold">
                                                                k.nguyentuan47@kurita-water.com
                                                            </a>
                                                        </div>

                                                        <div class="tab-tx">
                                                            <p>Phone:</p>
                                                            <a href="tel:0936040266" class="f-bold">
                                                                0936 040 266
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="tab-b">
                                                        <p class="tab-name f-bold">
                                                            Mr. Nguyễn Tuấn Kiệt (HN)
                                                        </p>
                                                        <div class="tab-tx">
                                                            <p>Email:</p>
                                                            <a href="mailto: l.nguyenvan45@kurita-water.com"
                                                                class="f-bold">
                                                                l.nguyenvan45@kurita-water.com
                                                            </a>
                                                        </div>

                                                        <div class="tab-tx">
                                                            <p>Phone:</p>
                                                            <a href="tel:0903228865" class="f-bold">
                                                                0903 228 865
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="footer-wrapper">
                        <div class="columns">
                            <div class="column ft-menu">
                                <div class="ft-inner">
                                    <ul class="ft-list">
                                        <li class="ft-item">
                                            <a href="#" class="ft-link">
                                                Trang chủ
                                            </a>
                                        </li>
                                        <li class="ft-item">
                                            <a href="#" class="ft-link">
                                                Về chúng tôi
                                            </a>
                                        </li>
                                        <li class="ft-item">
                                            <a href="#" class="ft-link">
                                                Thư viện
                                            </a>
                                        </li>
                                        <li class="ft-item">
                                            <a href="#" class="ft-link">
                                                Liên hệ
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column ft-right">
                                <div class="ft-inner">
                                    <div class="copy-right">
                                        <p>Bản quyền © 2015 KURITA-GK CHEMICAL CO., LTD Mọi quyền được bảo lưu.</p>
                                    </div>

                                    <div class="box-lang lang">
                                        <select class="select-lang">
                                            <option value="1">VN</option>
                                            <option value="2">EN</option>
                                            <option value="3">jp</option>
                                            <option value="3">kr</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- scroll top 1 -->
        <div class="scroll-top"></div>

    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>