.banner {
    .swiper-wrapper {
        margin: 0;
    }

    .swiper-slide {
        padding: 0;
        height: 100%;
    }

    .swiper-slide>img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .swiper-button-prev {
        left: 20px;
    }

    .swiper-button-next {
        right: 20px;
    }

    .swiper-pagination {
        position: absolute;
        bottom: 10px;
    }

    overflow: hidden;



    &.banner-page {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 125px 0 145px;

        @include max-media($bk-d-1200) {
            padding: 100px 0;
        }

        @include max-media($bk-d-992) {
            padding: 80px 0;
        }

        @include max-media($bk-d-768) {
            padding: 60px 0;
        }

        .banner-title {
            font-size: 120px;
            font-weight: 800;
            color: rgba($color: $main-cl, $alpha: .1);
            text-align: center;

            @include max-media($bk-d-1200) {
                font-size: 100px;
            }

            @include max-media($bk-d-992) {
                font-size: 80px;
            }

            @include max-media($bk-d-768) {
                font-size: 60px;
            }

            @include max-media($bk-576) {
                font-size: 50px;
            }
        }
    }


    &.banner-slide {

        .swiper-slide-active {
            .banner-title {
                @include min-media($bk-768) {
                    animation: bounceInRight 1s;
                    animation-delay: 300ms;
                }
            }
            
            .btn-mores{
                @include min-media($bk-768){
                    animation:  fadeInUpBig 1s;
                    // animation-delay: 300ms;
                }
            }


        }

        .container-full {
            padding: 0;
        }

        .banner-inner {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            padding: 190px 0 200px;
            position: relative;
            z-index: 1;

            @include max-media($bk-1400) {
                padding: 130px 0 150px;
            }

            @include max-media($bk-d-1200) {
                padding: 100px 0;
            }

            @include max-media($bk-d-992) {
                padding: 80px 0;
            }

            @include max-media($bk-d-768) {
                padding: 60px 0;
            }
        }

        .text-after,
        .text-before {
            position: absolute;
            z-index: -1;

        }

        .text-before {
            font-size: 300px;
            font-weight: 800;
            top: -40px;
            left: 175px;
            color: rgba($color: $main-cl, $alpha: .1);

            @include max-media($bk-1900) {
                font-size: 250px;
                left: 80px;
                top: 0px;
            }

            @include max-media($bk-1400) {
                font-size: 200px;
                left: 10px;
            }

            @include max-media($bk-d-1200) {
                font-size: 150px;
                left: 10px;
            }

            @include max-media($bk-d-992) {
                font-size: 120px;
                left: 10px;
                top: 10px;
            }

            @include max-media($bk-d-768) {
                display: none;
            }
        }

        .text-after {
            bottom: 145px;
            right: 155px;
            text-align: right;
            line-height: 1;
            color: rgba($color: $main-cl, $alpha: .3);

            @include max-media($bk-1900) {
                right: 80px;
            }

            @include max-media($bk-1400) {
                right: 15px;
            }

            @include max-media($bk-d-1200) {
                bottom: 100px;
            }

            @include max-media($bk-d-992) {
                bottom: 80px;
            }

            @include max-media($bk-d-768) {
                display: none;
            }
        }




        .banner-title {
            margin-bottom: 35px;
            color: $b-2222-cl;
            @include lh(64, 46);

            @include max-media($bk-d-1200) {
                margin-bottom: 20px;
            }
        }

        .banner-desc {
            max-width: 600px;
            @include lh(38, 24);
            margin-bottom: 41px;

            @include max-media($bk-d-1200) {
                margin-bottom: 30px;
            }
        }

        .banner-link {
            position: relative;

            &::before {
                content: '';
                width: 344px;
                height: 1px;
                background-color: $main-cl;
                position: absolute;
                top: 50%;
                left: -30px;
                transform: translate(-100%, -50%);
                z-index: 1;
                transition: all .3s ease;

                @include max-media($bk-1900) {
                    display: none;
                }
            }

            &:hover {
                &::before {
                    width: 0;

                }

                .btn-more {
                    box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .16);

                    &::after {
                        transform: translateX(5px);
                    }
                }
            }

            .btn-mores {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                position: relative;
                width: 212px;
                height: 56px;
                background-color: $main-cl;
                color: $w-cl;
                font-weight: bold;
                @include fz-20;
                padding: 15px 20px;
                transition: all .3s ease;

                @include max-media($bk-d-768) {
                    height: 50px;
                    padding: 12px 10px;
                }



                &::after {
                    content: '\f105';
                    font-family: 'Fontawesome';
                    margin-left: 15px;
                    transition: all .3s ease;
                }
            }
        }

    }

}