.box-intro {
    overflow: hidden;

    &.intro-new {
        .columns {
            align-items: center;
        }
    }

    .column {
        width: calc(100% / 12 * 6);

        @include max-media($bk-d-768) {
            width: 100%;
        }
    }

    .intro-wrapper {
        position: relative;
    }

    .intro-img {
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }

    .intro-title {
        margin-bottom: 25px;
        @include lh(56, 40);
        color: $b-2222-cl;

        @include max-media($bk-d-1200) {
            margin-bottom: 20px;
        }

        @include max-media($bk-d-992) {
            margin-bottom: 10px;
        }
    }

    .intro-label {
        margin-bottom: 22px;

        @include max-media($bk-d-1200) {
            margin-bottom: 15px;
        }

        @include max-media($bk-d-992) {
            margin-bottom: 10px;
        }
    }

    .intro-desc {
        @include lh(22, 14);
        color: $b-2222-cl;

        P {
            margin: 30px 0;

            @include max-media($bk-d-1200) {
                margin: 20px 0;
            }

            @include max-media($bk-d-768) {
                margin: 15px 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .btn-link{
        margin-top: 40px;
        @include max-media($bk-d-1200) {
            margin-top: 30px;
        }

        @include max-media($bk-d-992) {
            margin-top: 20px;
        }
    }

    &.home-intro {
        .intro-wrapper {
            position: relative;

            &::before {
                content: '';
                width: 130px;
                height: 130px;
                border-radius: 100%;
                background-color: #EAFAFC;
                position: absolute;
                bottom: -10px;
                left: -105px;

                @include max-media($bk-d-1200) {
                    display: none;
                }
            }

            &::after {
                content: '';
                width: 26px;
                height: 26px;
                border-radius: 100%;
                background-color: $main-cl;
                position: absolute;
                left: -137px;
                bottom: 0;
                transform: translateY(100%);

                @include max-media($bk-d-1200) {
                    display: none;
                }
            }

            .box-arc {
                top: -180px;
            }
        }
    }
}

.service {
    overflow: hidden;

    .service-title {
        margin-bottom: 35px;

        @include max-media($bk-d-1200) {
            margin-bottom: 20px;
        }
    }

    .service-row {
        display: flex;
        flex-wrap: wrap;
    }

    .service-reverse {
        .service-box {
            flex-direction: row-reverse;
        }

        .service-item {

            &.item-one,
            &.item-two,
            &.item-three,
            &.item-four {
                &::after {
                    right: auto;
                    left: 0;
                    transform: translate(-100%, -50%) scaleX(-1);

                }
            }
        }
    }

    .service-box {
        width: 50%;
        display: flex;

        @include max-media($bk-d-768) {
            width: 100%;
        }
    }

    .service-item {
        width: 50%;
        position: relative;

        &.item-one,
        &.item-two,
        &.item-three,
        &.item-four {
            &::after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 15px 0 15px 15px;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(100%, -50%);
                z-index: 1;

            }
        }


        &.item-one {
            background-color: $main-cl;

            &::after {
                border-color: transparent transparent transparent $main-cl;
            }
        }

        &.item-two {
            background-color: #075291;

            &::after {
                border-color: transparent transparent transparent #075291;
            }
        }

        &.item-three {
            background-color: #2AB73F;

            &::after {
                border-color: transparent transparent transparent #2AB73F;
            }
        }

        &.item-four {
            background-color: #1579E0;

            &::after {
                border-color: transparent transparent transparent #1579E0;
            }
        }

    }

    .service-inner {
        padding: 35px;
        padding-right: 20px;
        height: 100%;

        @include max-media($bk-d-1200) {
            padding: 30px 20px;
        }

        @include max-media($bk-d-992) {
            padding: 20px 25px 20px 20px;
        }

        @include max-media($bk-d-768) {
            padding: 20px 15px;
        }

        .service-icon {
            margin-bottom: 15px;
        }

        .service-tt {
            color: $w-cl;
            transition: all .3s ease;

            &:hover {
                color: $b-cl;
            }
        }
    }


    .service-img {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-width: 100%;
        }
    }
}

.fields {
    overflow: hidden;
    background-color: rgba($color: $main-cl, $alpha: .07);

    .swiper-container {
        overflow: visible;
        padding-bottom: 65px;

        @include max-media($bk-d-1200) {
            overflow: hidden;
        }

        .swiper-pagination-bullet {
            background-color: #D8E3E7;
            width: 8px;
            height: 8px;
            transition: all .3s ease;
            opacity: 1;

            &-active {
                background-color: $main-cl;
                width: 30px;
                border-radius: 5px;
            }

        }
    }

    .fields-inner {
        &:hover {
            .fields-img {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }

    .fields-title {
        margin-bottom: 35px;

        @include max-media($bk-d-1200) {
            margin-bottom: 20px;
        }
    }

    .fields-img {
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-width: 100%;
            transition: all .3s ease;
        }
    }

    .fields-content {
        background-color: white;
        padding: 20px 35px 50px;
        position: relative;

        @include max-media($bk-d-1200) {
            padding: 20px 25px 40px;
        }
    }

    .fields-tt {
        transition: all .3s ease;
        margin-bottom: 15px;

        &:hover {
            color: $b-cl;
        }
    }

    .fields-list {
        .fields-item {
            position: relative;
            display: flex;
            align-items: center;

            &:not(:first-child) {
                margin-top: 10px;
            }


            &::before {
                content: '\f111 ';
                font-family: 'Fontawesome';
                color: $main-cl;
                font-size: 8px;
                margin-right: 15px;

            }
        }
    }

    .fields-more {
        width: 44px;
        height: 44px;
        border-radius: 100%;
        background-color: $main-cl;
        color: $w-cl;
        position: absolute;
        bottom: 0;
        right: 35px;
        font-size: 18px;
        transform: translateY(50%);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        cursor: pointer;
        transition: all .3s ease;

        &:hover {
            color: $main-cl;
            background-color: $w-cl;
            box-shadow: 0px 0px 20px rgba($color: $b-cl, $alpha: .16);
        }
    }
}

.library {
    overflow: hidden;
    position: relative;

    &::after {
        content: '';
        width: 416px;
        height: 416px;
        border-radius: 100%;
        background-color: rgba($color: #B9EEF4, $alpha: .3);
        position: absolute;
        bottom: -115px;
        right: -135px;
        z-index: -1;

        @include max-media($bk-d-1200) {
            display: none;
        }
    }

    .library-wrapper {
        position: relative;

        &::before {
            content: '';
            width: 192px;
            height: 192px;
            border-radius: 100%;
            background-image: linear-gradient(135deg, transparent, rgba(8, 146, 185, 0.1));
            position: absolute;
            top: -50px;
            left: -120px;

            @include max-media($bk-d-1200) {
                display: none;
            }
        }

        &::after {
            content: '';
            width: 20px;
            height: 20px;
            background-color: $main-cl;
            border-radius: 100%;
            position: absolute;
            top: 170px;
            left: -70px;

            @include max-media($bk-d-1200) {
                display: none;
            }
        }



    }

    .column {
        width: calc(100% / 12 * 3);

        @include max-media($bk-900) {
            width: calc(100% / 12 * 6);
        }

        &:nth-child(1) , &:nth-child(2){
            @include max-media($bk-d-768){
                width: 100% !important;
            }
        }
       

        &.wth-bi {
            width: calc(100% / 12 * 6);
        }
    }


    .library-title {
        margin-bottom: 24px;
        @include lh(56, 40);

        @include max-media($bk-d-1200) {
            margin-bottom: 18px;
        }

        @include max-media($bk-d-992) {
            margin-bottom: 10px;
        }

    }

    .library-label {
        margin-bottom: 22px;
        @include lh(22, 14);

        @include max-media($bk-d-1200) {
            margin-bottom: 15px;
        }

        @include max-media($bk-d-992) {
            margin-bottom: 10px;
        }
    }

    .library-desc {
        @include lh(22, 14);
        color: rgba($color: $b-2222-cl, $alpha: .7);
        @include line-clamp(4);
    }

    .library-img {
        width: 100%;
        height: 100%;

        &:hover {
            a {
                &::before {
                    opacity: 0.5;
                    visibility: visible;
                }
            }

            img {
                filter: saturate(100%);
            }

            .icon-play {
                @include visible;
            }
        }

        a {
            display: block;
            position: relative;
            height: 100%;

            &::before {
                content: '';
                width: 100%;
                height: 100%;
                background-image: radial-gradient(circle, transparent, $main-cl);
                position: absolute;
                top: 0;
                left: 0;
                transition: all .3s ease;
                opacity: 0;
                visibility: hidden;
                z-index: 1;

            }

        }

        .icon-play {
            @include pos-mid;
            font-size: 16px;
            color: $main-cl;
            transition: all .3s ease;
            @include hidden;
            @include max-media($bk-576){
                height: 20px;
            }

            &::before {
                content: '';
                width: 44px;
                height: 44px;
                border-radius: 100%;
                background-color: $w-cl;
                @include pos-mid;
                z-index: -1;
            }

            &::after {
                content: '';
                width: 84px;
                height: 84px;
                background-color: rgba($color: #D8E3E7, $alpha: .2);
                border-radius: 100%;
                @include pos-mid;
                z-index: -2;
            }
        }

        img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
            filter: saturate(0%);
            transition: all .3s ease;
        }
    }

    .btn-link {
        margin-top: 35px;
        @include max-media($bk-d-992){
            margin-top: 30px;
        }
    }
}