.contact {
    overflow: hidden;

    .container-full {
        padding: 0;
        // @include min-media($bk-768){
        //     padding: 0;
        // }
    }

    .contact-wrap {
        color: rgba($color: $b-2222-cl, $alpha: .7);
        position: relative;

        .box-arc{
            transform: translateX(-50%);
            @include max-media($bk-1900){
                transform: translateX(0);
            }
        }
    }

    .contact-title {
        margin-bottom: 20px;
        color: $b-2222-cl;
        @include lh(64,46);

        @include max-media($bk-d-1200) {
            margin-bottom: 10px;
        }
    }

    .contact-head {
        margin-bottom: 30px;
        @include max-media($bk-d-768){
            padding: 0 15px;
            margin-bottom: 20px;
        }
    }

    .contact-box {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        @include max-media($bk-d-992){
            margin: 0 -7.5px;
        }
    }

    .contact-item {
        width: 50%;
        padding: 0 15px;
        position: relative;

        @include max-media($bk-d-992){
            padding: 0 7.5px;
        }
        
        @include max-media($bk-d-768){
            width: 100%;
        }
        

        &:first-child {
            @include max-media($bk-d-768){
                margin-bottom: 40px;
            }
            .contact-iner {
                &::before {
                    content: '';
                    width: 1px;
                    height: 163px;
                    background-color: #D8E3E7;
                    position: absolute;
                    top: 0%;
                    right: 0;
                    @include max-media($bk-d-768){
                        display: none;
                    }
                }
            }
        }

        .contact-iner {
            max-width: 500px;

            &.iner-first{
                margin-left: auto;
                padding-right: 20px;
                @include max-media($bk-d-1200){
                    padding: 0 ;
                }
              
                @include max-media($bk-d-768){
                    margin: 0 auto;
                    padding: 0 15px;
                }
            }

            &.iner-last{
                margin-right: auto;
                padding-left: 20px;
                @include max-media($bk-d-1200){
                    padding: 0 ;
                }
                @include max-media($bk-d-768){
                    margin: 0 auto;
                    padding: 0 15px;
                }
            }


        }

        .contact-text {
            &:not(:first-child) {
                margin-top: 15px;

                @include max-media($bk-d-1024) {
                    margin-top: 10px;
                }
            }

            .contact-link {
                transition: all .3s ease;

                &:hover {
                    color: $main-cl;
                }
            }
        }
    }

    .contact-map {
        margin-top: 80px;

        @include max-media($bk-d-1200) {
            margin-top: 60px;
        }

        @include max-media($bk-d-992) {
            margin-top: 40px;
        }
        @include max-media($bk-d-768) {
            margin-top: 20px;
        }

        .map-box {
            width: 100%;

            iframe {
                width: 100%;
                height: 400px;

                @include max-media($bk-d-1024) {
                    height: 300px;
                }
            }
        }
    }


}